html, body {
  margin: 0;
  height: 100%;
}

body{
  text-align: center;
  background: #f7e8f6;
  background-image: linear-gradient(rgb(247, 232, 246), rgb(241, 198, 231));
  font-family: 'Lato', sans-serif;
}

#img {
  max-height: 70vh;
  padding: 1.3rem;
}

#clockdiv{
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
}

#clockdiv > div{
  padding: 0.8rem;
  border-radius: 3px;
  background: #e5b0ea;
  display: inline-block;
}

#clockdiv div > span{
  padding: 1rem;
  border-radius: 3px;
  background: #bd83ce;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 1rem;
}
