body {
	height: 100%;
	margin: 0;
	background-image: url("./bg-image.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.fade {
	position: relative;
	width: 100%;
	min-height: 60vh;
	top: -25px;
	background-image: linear-gradient(0deg, transparent, black 75%);
	z-index: 1;
}

.star-wars {
	display: flex;
	justify-content: center;
	position: relative;
	height: 800px;
	color: #feda4a;
	font-family: "Seric Gothic One", sans-serif;
	font-size: 500%;
	font-weight: 600;
	letter-spacing: 6px;
	line-height: 150%;
	perspective: 400px;
	text-align: justify;
}

.crawl {
	position: relative;
	top: 9999px;
	transform-origin: 50% 100%;
	animation: crawl 750s linear;
}

.crawl > .title {
	font-size: 90%;
	text-align: center;
}

.crawl > .title h1 {
	margin: 0 0 100px;
	text-transform: uppercase;
}

@keyframes crawl {
	0% {
		top: 0;
		transform: rotateX(20deg) translateZ(0);
	}
	100% {
		top: -60000px;
		transform: rotateX(25deg) translateZ(-25000px);
	}
}

.playpause label {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
	display: block;
	box-sizing: border-box;

  width: 0;
	height: 74px;
	border-color: transparent transparent transparent #202020;
	border-style: double;
	border-width: 0px 0 0px 60px;

  transition: 100ms all ease;
	cursor: pointer;
}

.playpause label:focus {
  outline: none;
}

.playpause input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

.playpause input[type="checkbox"]:checked + label {
	border-style: solid;
	border-width: 37px 0 37px 60px;
}