html,
body {
	margin: 0;
	height: 100%;
}

html {
	box-sizing: border-box;
	border: 0.5rem solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, #85601d, #daa700);
}

body {
	background-image: url("./t3.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	letter-spacing: 5px;
	line-height: 1.5rem;
}

.f2 {
	font-family: "Caveat", cursive;
	letter-spacing: normal;
}

.header {
	display: flex;
	justify-content: space-between;
    padding: 5% 5% 0 5%;
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.names {
	text-align: right;
}

.photo {
	text-align: center;
    height: 55%;
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

.photo img {
	max-height: 100%;
	max-width: 100%;
}

.date {
	text-align: center;
    padding-bottom: 1rem;
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
}

.separator {
	border-left: 2px solid #daa700;
	border-right: 2px solid #daa700;
	margin: 0 0.5rem;
	padding: 0 0.5rem;
}

.city {
	text-align: center;
	letter-spacing: 3px;
	font-size: 1.4rem;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (min-width: 768px) { 
    body {
        letter-spacing: 10px;
        font-size: 2rem;
        line-height: normal;
    }

    .f2 {
        font-size: 2rem;
    }
}